@media only screen and (max-width: 1100px) {
  .navbar-inner {
    width: 90vw !important;
  }
  .game-container-table {
    width: 100% !important;
  }
}

@media only screen and (max-width: 800px) {
  .profile-container {
    flex-direction: column;
    justify-content: center !important;
  }
  .container-wrapper-user {
    height: 450px !important;
  }
  .game-item {
    width: 100px !important;
    height: 100px !important;
  }
  .game-wrapper {
    width: 350px !important;
    height: 350px !important;
  }
  .winner-container {
    left: 20% !important;
  }
  .footer {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .about-container {
    display: none !important;
  }
  .user-container {
    justify-content: center;
  }
  .profile-info {
    text-align: center !important;
  }
  .profile-container {
    width: 90% !important;
  }
  .game-container-table {
    flex-direction: column !important;
  }
  .winner-container {
    left: 5% !important;
    width: 90% !important;
  }
  .contact {
    display: none;
  }
  .footer {
    justify-content: space-evenly !important;
  }
}

@media only screen and (max-width: 500px) {
  .navbar-inner {
    width: 100vw !important;
    justify-content: space-evenly !important;
  }
}
